<div mat-dialog-title>
    <div class="d-flex justify-content-between align-items-center">
        <h3>Nuevo cliente</h3>
        <mat-icon class="btnClose" fontIcon="close" role="butotn" mat-dialog-close=""></mat-icon>
    </div>
</div>

<div mat-dialog-content>

    <div class="content">

        <form [formGroup]="formDatosCliente" action="" class="formDatosCliente" autocomplete="off"> 
            <div class="d-flex flex-row justify-content-between">
                <div> 
                    <div class="d-flex flex-row">
                        <!--* Nombre -->
                        <div class="formControlContainer me-3">
                            <label class="formControlLabel" for="nombre">Nombre</label>
                            <input 
                            class="formControl"

                            type="text" 
                            id="nombre"
                            name="nombre"
                            formControlName="nombre"
                            >
                            <span *ngIf="formDatosCliente.controls['nombre'].dirty && formDatosCliente.controls['nombre'].errors && formDatosCliente.controls['nombre'].errors['required']" class="controlAlertHint">* Campo obligatorio</span>
                        </div>

                        <!--* Apellido -->
                        <div class="formControlContainer me-3">
                            <label class="formControlLabel" for="apellido">Apellido</label>
                            <input 
                            class="formControl"

                            type="text" 
                            id="apellido"
                            name="apellido"
                            formControlName="apellido"
                            >
                            <span *ngIf="formDatosCliente.controls['apellido'].dirty && formDatosCliente.controls['apellido'].errors && formDatosCliente.controls['apellido'].errors['required']" class="controlAlertHint">* Campo obligatorio</span>
                        </div>
                    
                        <!--* Tipo cliente -->
                        <div class="formControlContainer">
                            <label class="formControlLabel" for="nombre">Tipo cliente</label>
                            <select
                            class="formControl"
                            name="tipoCliente"
                            formControlName="tipoCliente"
                            >
                                <option 
                                *ngFor="let option of tiposCliente" 
                                [value]="option.id">
                                    {{option.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex flex-row mt-3">
                        <!--* Teléfono -->
                        <div class="formControlContainer me-3">
                            <label class="formControlLabel" for="telefono">Teléfono</label>
                            <input 
                            class="formControl"

                            type="text" 
                            id="telefono"
                            name="telefono"
                            formControlName="telefono"
                            >                            
                            <span *ngIf="formDatosCliente.controls['telefono'].dirty && formDatosCliente.controls['telefono'].errors && formDatosCliente.controls['telefono'].errors['required']" class="controlAlertHint">* Campo obligatorio</span>                        
                        </div>

                        <!--* Email -->
                        <div class="formControlContainer">
                            <label class="formControlLabel" for="email">Email</label>
                            <input 
                            class="formControl"
                            type="text" 
                            id="email"
                            name="email"
                            formControlName="email"
                            >
                            <span *ngIf="formDatosCliente.controls['email'].dirty && formDatosCliente.controls['email'].errors && formDatosCliente.controls['email'].errors['email']" class="controlAlertHint">* Formato inválido</span>
                        </div>                    
                    </div>
                </div>
                
                <div class="flex-grow-1 ms-3">
                    <!--* Notas -->
                    <div class="formControlContainer notas">
                        <label class="formControlLabel" for="notas">Notas</label>
                        <textarea 
                        class="formControl"
                        type="text" 
                        id="notas"
                        name="notas"
                        formControlName="notas"
                        >
                        </textarea>
                    </div>                             
                </div>

            </div>

        </form> 

    </div>

</div>

<div mat-dialog-actions align="end" class="buttonsContainer">
    <button type="button" class="btn btn-outline-secondary me-3" [disabled]="formDatosCliente.invalid" (click)="cargarCliente()">Cargar</button>
    <button type="button" class="btn btn-outline-secondary" mat-dialog-close>Cancelar</button>
</div>


