<header>
    <img src="../../../assets/logoFusion.png" alt="Logo de 'Fusión a Medida'">
    <nav>
        <div class="navCenter">
            
            <a routerLink="/privado" class="navItem">Inicio</a>    
            <span class="navSeparator"><i class="fa-solid fa-circle"></i></span>
            
            <a routerLink="/privado/clientes" class="navItem">Clientes</a>    
            <span class="navSeparator"><i class="fa-solid fa-circle"></i></span>
            
            <a routerLink="/privado/pedidos" class="navItem">Pedidos</a>    
            <span class="navSeparator"><i class="fa-solid fa-circle"></i></span>

            <a routerLink="/privado/muebles" class="navItem">Muebles</a>    
            <span class="navSeparator"><i class="fa-solid fa-circle"></i></span>
            
            <a role="button" class="navItem" (click)="logout()">Logout</a>    
        </div>
    </nav>
</header>