<section id="tiendasContainer">
    <div>
        <img src="../../../../assets/tiendas/tienda1.jpg" alt="">
        <h3>Palermo</h3>
        <article>
            <h4>Palermo</h4>
            <p>Gorriti 4671</p>
            <p>Lunes a sábados 13:00 a 19:00</p>
            <p>011-5908-2061</p>
            <p>tienda@fusion.com.ar</p>
        </article>
    </div>
    <div>
        <img src="../../../../assets/tiendas/tienda2.jpg" alt="">
        <h3>Olivos</h3>
        <article>
            <h4>Olivos</h4>
            <p>Gorriti 4671</p>
            <p>Lunes a sábados 13:00 a 19:00</p>
            <p>011-5908-2061</p>
            <p>tienda@fusion.com.ar</p>
        </article>
    </div>
    <div>
        <img src="../../../../assets/tiendas/tienda3.jpg" alt="">
        <h3>Rosario</h3>
        <article>
            <h4>Rosario</h4>
            <p>Gorriti 4671</p>
            <p>Lunes a sábados 13:00 a 19:00</p>
            <p>011-5908-2061</p>
            <p>tienda@fusion.com.ar</p>
        </article>
    </div>
    <div>
        <img src="../../../../assets/tiendas/tienda4.jpg" alt="">
        <h3>Calafate</h3>
        <article>
            <h4>Calafate</h4>
            <p>Gorriti 4671</p>
            <p>Lunes a sábados 13:00 a 19:00</p>
            <p>011-5908-2061</p>
            <p>tienda@fusion.com.ar</p>
        </article>
    </div>
</section>