<div mat-dialog-title>
    <div class="d-flex justify-content-between align-items-center">
        <h3>Nuevo pedido</h3>
        <mat-icon class="btnClose" fontIcon="close" role="butotn" mat-dialog-close=""></mat-icon>
    </div>

</div>

<div mat-dialog-content>

    <div class="content">

        <form [formGroup]="formDatosPedido" action="" class="formDatosPedido" autocomplete="off"> 
            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-column"> 
                    <!--* cliente -->
                    <div *ngIf="!cliente"  class="formControlContainer mb-3" style="width: 100%">
                        <label class="formControlLabel" for="cliente">Cliente</label>
                        <select 
                        style="width: 100%"
                        class="formControl"
                        type="text" 
                        id="cliente"
                        name="cliente"
                        formControlName="cliente"
                        >
                            <option *ngFor="let option of listaClientes" value={{option.id}}>
                                {{option.nombre+' '+option.apellido}}
                            </option>
                        </select>
                        <span *ngIf="formDatosPedido.controls['cliente'].dirty && formDatosPedido.controls['cliente'].errors && formDatosPedido.controls['cliente'].errors['required']" class="controlAlertHint">* Campo obligatorio</span>  
                    </div>  
                    <!--* fechas -->
                    <div class="mb-3 d-flex flex-row justify-content-between">
                        <!--* fechaEntrada -->
                        <div class="formControlContainer">
                            <label class="formControlLabel" for="fechaEntrada">Fecha Entrada</label>
                            <input 
                            class="formControl"

                            type="date" 
                            id="fechaEntrada"
                            name="fechaEntrada"
                            formControlName="fechaEntrada"
                            >
                        </div>
                        <!--* fechaEntrega -->
                        <div class="formControlContainer ms-3">
                            <label class="formControlLabel" for="fechaEntrega">Fecha Entrega</label>
                            <input 
                            class="formControl"

                            type="date" 
                            id="fechaEntrega"
                            name="fechaEntrega"
                            formControlName="fechaEntrega"
                            >
                        </div>                           
                    </div>        
                    <!--* direccionEntrega -->
                    <div class="formControlContainer" style="width: 100%">
                        <label class="formControlLabel" for="direccionEntrega">Dirección Entrega</label>
                        <input 
                        style="width: 100%"
                        class="formControl"

                        type="text" 
                        id="direccionEntrega"
                        name="direccionEntrega"
                        formControlName="direccionEntrega"
                        >
                    </div>                          
                </div>
                
                <div class="flex-grow-1 ms-4 me-3" >
                    <!--* notas -->
                    <div class="formControlContainer notas" style="height: 100%; width: 100%">
                        <label class="formControlLabel" for="notas">Notas</label>
                        <textarea 
                        class="formControl"
                        type="text" 
                        id="notas"
                        name="notas"
                        formControlName="notas"
                        >
                        </textarea>
                    </div>    
                                
                </div>

            </div>

        </form> 
        <button type="button" class="btn btn-outline-secondary btnAgregarMueble" (click)="crearNuevoMueble()">Agregar mueble</button>
    </div>

    <div class="mueblesContainer">
        <div *ngFor="let mueble of nuevosMuebles; index as ix" attr.data-ix={{ix}} class="muebleContainer">
            <app-carga-mueble [mueblePedidoNuevo]="mueble" (onPrecargarAlPedido)="precargarMueble($event, ix)" (onEliminarMueblePedidoNuevo)="eliminarNuevoMueble(ix)"></app-carga-mueble>
            
        </div>
    </div>

</div>

<div mat-dialog-actions align="end" class="buttonsContainer">
    <button type="button" class="btn btn-outline-secondary me-3" [disabled]="formDatosPedido.invalid" (click)="cargarPedido()">Cargar</button>
    <button type="button" class="btn btn-outline-secondary" mat-dialog-close>Cancelar</button>
</div>
