/*  */

.acordionDetallePedido-itemPedido {
    padding: 0px 10px;
}

.acordionDetallePedido-itemPedido-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.acordionDetallePedido-itemPedido-body {
    margin-top: 10px;
    padding: 0px 10px 20px 10px;
}

.buttonsContainer {
    margin-top: 15px;
}

.acordionDetallePedido-itemPedido-header {
    cursor: pointer;
}

.acordionDetallePedido-itemPedido:first-child {
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}

.acordionDetallePedido-itemPedido:last-child {
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}