<form #formEditNombre="ngForm" mat-dialog-content class="detalleClienteContainer">
    <!--* Nombre -->
    <div class="formControlContainer">
        <label class="formControlLabel" for="nombre">Nombre</label>
        <input
        #nombreControl="ngModel"
        class="formControl"
        type="text" 
        id="nombre"
        name="nombre"
        required
        [(ngModel)]="nombreApellido.nombre"
        >
        <span *ngIf="nombreControl.invalid && nombreControl.dirty" class="controlAlertHint">* Debe completar este campo</span>
    </div>
    <!--* Apellido -->
    <div class="formControlContainer mt-3">
        <label class="formControlLabel" for="apellido">Apellido</label>
        <input 
        #apellidoControl="ngModel"
        class="formControl"
        type="text" 
        id="apellido"
        name="apellido"
        required
        [(ngModel)]="nombreApellido.apellido"
        >
        <span *ngIf="apellidoControl.invalid && apellidoControl.dirty" class="controlAlertHint">* Debe completar este campo</span>
    </div>    
</form>
<div mat-dialog-actions align="end">
    <button type="button" class="btn btn-outline-secondary me-3" (click)="confirmChanges()" [disabled]="formEditNombre.invalid">Ok</button>
    <button type="button" class="btn btn-outline-secondary" (click)="discardChanges()">Canclear</button>
</div>

