.formControlContainer {
  position: relative;
  background-color: rgb(255, 255, 255);
}
.formControlLabel {
  font-size: 0.8rem;
  line-height: 100%;
  background-color: inherit;
  position: absolute;
  left: 7px;
  top: 0px;
  transform: translateY(-50%);
}
.formControl {
  min-width: 100px;
  border: 1.5px solid rgb(190, 93, 201);
  color: rgb(28, 24, 24);
  background-color: inherit;
  border-radius: 5px;
  padding: 5px;
  line-height: 100%;
}
.formControl:disabled {
  border: 1px solid black;
}
.formControl:focus {
  border: 2px solid rgb(190, 93, 201);
}
