<div mat-dialog-content class="detalleClienteContainer">
    <!--* Nombre -->
    <div class="formControlContainer">
        <label class="formControlLabel" for="nombre">Nombre</label>
        <input 
        class="formControl"
        type="text" 
        id="nombre"
        name="nombre"
        [(ngModel)]="nombreApellido.nombre"
        >
    </div>
    <!--* Apellido -->
    <div class="formControlContainer mt-3">
        <label class="formControlLabel" for="apellido">Apellido</label>
        <input 
        class="formControl"
        type="text" 
        id="apellido"
        name="apellido"
        [(ngModel)]="nombreApellido.apellido"
        >
    </div>    
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="confirmChanges()">Ok</button>
    <button mat-raised-button (click)="discardChanges()">Canclear</button>
</div>

