<div
    cdkAccordionItem
    #accordionDatosMuebles="cdkAccordionItem"
    class="acordionDetallePedido-itemMuebles"
    tabindex="1"
    id="accordion-header-2"
    [attr.aria-expanded]="accordionDatosMuebles.expanded"
    aria-controls="accordion-body-2"
    expanded="false"
>

    <!--* Accordion header -->
    <div class="acordionDetallePedido-itemMuebles-header" (click)="accordionDatosMuebles.toggle()">
        <h5>Datos del pedido</h5>
        <span role="button">
            <mat-icon *ngIf="accordionDatosMuebles.expanded" aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_up"></mat-icon>
            <mat-icon *ngIf="!accordionDatosMuebles.expanded" aria-hidden="false" aria-label="Example home icon" fontIcon="keyboard_arrow_down"></mat-icon>
        </span>
    </div>

    
    <!--* Accordion body -->
    <div
        class="acordionDetallePedido-itemMuebles-body"
        role="region"
        [style.display]="accordionDatosMuebles.expanded ? '' : 'none'"
        id="accordion-body-1"
        aria-labelledby="accordion-header-1"
    >
        <p *ngIf="!pedidoMostrar">No tiene un pedido asignado</p>

        <div *ngIf="pedidoMostrar" class="formDatosPedido"> 
            <div class="d-flex flex-row justify-content-between">
                <div class="d-flex flex-column"> 
                    <div class="formControlContainer" style="width: 100%">
                        <!--* cliente -->
                        <div class="formControlContainer">
                            <label class="formControlLabel" for="cliente">Cliente</label>
                            <input
                            style="width: 100%"
                            class="formControl"
                            [size]="pedidoMostrar.cliente?.nombre.length"
                            disabled
                            type="text" 
                            id="cliente"
                            name="cliente"
                            [ngModel]="pedidoMostrar.cliente?.nombre+' '+pedidoMostrar.cliente?.apellido"
                            >
                        </div>
                    </div>
                    <!--* fechas -->
                    <div class="my-3 d-flex flex-row justify-content-between">
                        <!--* fechaEntrada -->
                        <div class="formControlContainer">
                            <label class="formControlLabel" for="fechaEntrada">Fecha Entrada</label>
                            <input 
                            class="formControl"
                            [size]="pedidoMostrar.fechaEntrada?.length"
                            disabled
                            type="date" 
                            id="fechaEntrada"
                            name="fechaEntrada"
                            [(ngModel)]="pedidoMostrar.fechaEntrada"
                            >
                        </div>
                        <!--* fechaEntrega -->
                        <div class="formControlContainer ms-3">
                            <label class="formControlLabel" for="fechaEntrega">Fecha Entrega</label>
                            <input 
                            class="formControl"
                            [size]="pedidoMostrar.fechaEntrega?.length"
                            disabled
                            type="date" 
                            id="fechaEntrega"
                            name="fechaEntrega"
                            [(ngModel)]="pedidoMostrar.fechaEntrega"
                            >
                        </div>                           
                    </div>        
                    <!--* direccionEntrega -->
                    <div class="formControlContainer" style="width: 100%">
                        <label class="formControlLabel" for="direccionEntrega">Dirección Entrega</label>
                        <input 
                        style="width: 100%"
                        class="formControl"
                        [size]="pedidoMostrar.direccionEntrega?.length"
                        disabled
                        type="text" 
                        id="direccionEntrega"
                        name="direccionEntrega"
                        [(ngModel)]="pedidoMostrar.direccionEntrega"
                        >
                    </div>                          
                </div>
                
                <div class="flex-grow-1 ms-4 me-3" >
                    <!--* notas -->
                    <div class="formControlContainer notas" style="height: 100%; width: 100%">
                        <label class="formControlLabel" for="notas">Notas</label>
                        <textarea 
                        class="formControl"
                        type="text"
                        disabled
                        id="notas"
                        name="notas"
                        [(ngModel)]="pedidoMostrar.notas"
                        >
                        </textarea>
                    </div>       
                </div>

            </div>
        </div>

        <app-detalle-mueble-pedido-subitem *ngIf="otrosMueblesDelPedido" [muebles]="otrosMueblesDelPedido"></app-detalle-mueble-pedido-subitem>

        <button *ngIf="pedidoMostrar" [routerLink]="'privado/pedidos/'+pedidoMostrar.id" mat-raised-button class="mt-2 mb-2" (click)="closeModal()">Ver pedido completo</button>   

    </div>

</div>