<div *ngIf="pedido" mat-dialog-title>
    <div class="d-flex justify-content-between align-items-center">
        <h3>Nuevo mueble</h3>
        <mat-icon class="btnClose" fontIcon="close" role="butotn" mat-dialog-close=""></mat-icon>
    </div>

</div>

<div mat-dialog-content>

    <div class="content">

        <form [formGroup]="formDatosMueble" action="" class="formDatosMueble"> 
            <div class="d-flex flex-row justify-content-between">
                <div class=""> 
                    <div class="mb-3 d-flex flex-row flex-wrap justify-content-between">
                        <!--* Modelo -->
                        <div class="formControlContainer me-3 flex-grow-1">
                            <label class="formControlLabel" for="modelo">Modelo</label>
                            <select 
                            class="formControl"
                            style="width: 100%"
                            id="modelo"
                            name="modelo"
                            formControlName="modelo"
                            >
                                <option *ngFor="let modelo of modelos" value={{modelo.id}}>{{modelo.nombre}}</option>
                            </select>
                            <span *ngIf="formDatosMueble.controls['modelo'].dirty && formDatosMueble.controls['modelo'].errors && formDatosMueble.controls['modelo'].errors['required']" class="controlAlertHint">* Campo obligatorio</span>  
                        </div>

                        <!--* Color -->
                        <div class="formControlContainer me-3 flex-grow-1">
                            <label class="formControlLabel" for="color">Color</label>
                            <select 
                            class="formControl"
                            id="color"
                            name="color"
                            formControlName="color"
                            >
                                <option  *ngFor="let color of colores" value={{color.id}}>{{color.nombre}}</option>
                            </select>
                        </div>

                        <!--* Cantidad -->
                        <div class="formControlContainer">
                            <label class="formControlLabel" for="cantidad">Cantidad</label>
                            <input 
                            class="formControl"
                            type="number" 
                            id="cantidad"
                            name="cantidad"
                            formControlName="cantidad"
                            >
                            <span *ngIf="formDatosMueble.controls['cantidad'].dirty && formDatosMueble.controls['cantidad'].errors && formDatosMueble.controls['cantidad'].errors['min']" class="controlAlertHint">* Debe ser mayor a cero</span> 
                        </div>
                    </div>

                    <div class="d-flex flex-row flex-wrap justify-content-between" style="column-gap: 15px;">
                        <!--* Largo -->
                        <div class="formControlContainer">
                            <label class="formControlLabel" for="largo">Largo</label>
                            <input 
                            class="formControl"
                            type="number" 
                            id="largo"
                            name="largo"
                            formControlName="largo"
                            >
                            <span *ngIf="formDatosMueble.controls['largo'].dirty && formDatosMueble.controls['largo'].errors && formDatosMueble.controls['largo'].errors['min']" class="controlAlertHint">* Debe ser mayor a cero</span> 
                        </div>

                        <!--* Alto -->
                        <div class="formControlContainer">
                            <label class="formControlLabel" for="alto">Alto</label>
                            <input 
                            class="formControl"
                            type="number" 
                            id="alto"
                            name="alto"
                            formControlName="alto"
                            >
                            <span *ngIf="formDatosMueble.controls['alto'].dirty && formDatosMueble.controls['alto'].errors && formDatosMueble.controls['alto'].errors['min']" class="controlAlertHint">* Debe ser mayor a cero</span> 
                        </div>

                        <!--* Profundidad -->
                        <div class="formControlContainer">
                            <label class="formControlLabel" for="profundidad">Prof.</label>
                            <input
                            class="formControl"
                            type="number" 
                            id="profundidad"
                            name="profundidad"
                            formControlName="profundidad"
                            >
                            <span *ngIf="formDatosMueble.controls['profundidad'].dirty && formDatosMueble.controls['profundidad'].errors && formDatosMueble.controls['profundidad'].errors['min']" class="controlAlertHint">* Debe ser mayor a cero</span> 
                        </div>                        
                   
                        <!--* Estado -->
                        <div class="formControlContainer flex-grow-1">
                            <label class="formControlLabel" for="estado">Estado</label>
                            <select
                            class="formControl"
                            type="text" 
                            id="estado"
                            name="estado"
                            formControlName="estado"
                            >
                                <option *ngFor="let option of estados" value={{option.id}}>
                                    {{option.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                                       
                </div>
                
                <div class="flex-grow-1 ms-4 me-3" >
                    <!--* notas -->
                    <div class="formControlContainer notas" style="height: 100%; width: 100%">
                        <label class="formControlLabel" for="notas">Notas</label>
                        <textarea
                        
                        class="formControl"
                        type="text" 
                        id="notas"
                        name="notas"
                        formControlName="notas"
                        >
                        </textarea>
                    </div>    
                                
                </div>

            </div>

        </form> 


    </div>

</div>

<div mat-dialog-actions align="end" class="buttonsContainer">
    
    <div *ngIf="pedido">
        <button type="button" class="btn btn-outline-secondary me-3" [disabled]="formDatosMueble.invalid" (click)="cargarMueble()">Cargar</button>

        <button type="button" class="btn btn-outline-secondary" mat-dialog-close>Cancelar</button>
    </div>
    
    <div *ngIf="!pedido">
        <button type="button" class="btn btn-outline-secondary me-3" (click)="eliminarMueblePedidoNuevo()">Eliminar mueble</button>

        <button *ngIf="!disabled" type="button" class="btn btn-outline-secondary" [disabled]="formDatosMueble.invalid" (click)="precargarAlPedido()">Cargar mueble</button>

        <button *ngIf="disabled" type="button" class="btn btn-outline-secondary" (click)="toggleEdit()">Modificar mueble</button>
    </div>

</div>