.container {
    padding: 0px 50px;
    /* max-height: 90vh;
    overflow: scroll; */
}
.title {
    display: flex;
    justify-content: space-between;
}
app-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}