form {
    position: relative;
    width: 250px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #e5e5e5;

}

form input {
    display: block;
    margin: 15px auto;
    padding: 3px 5px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.85rem;
}

form button {
    display: block;
    margin: 0 auto;
    background-color: inherit;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

#pista {
    margin-top: 15px;
    font-size: 0.75rem;
}

.controlAlertPlaceholder::placeholder {
    color: rgb(218, 36, 36);
    font-style: italic;
    font-size: 0.8em;
}

app-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}