<div class="container">

    <div class="title">
        <h4>Pedidos</h4>
        <button mat-stroked-button (click)="cargarNuevo()">Cargar nuevo</button>
    </div>
    <div class="tableContainer" *ngIf="!loading && pedidos">
        <app-tabla-info [columns]="columns" [data]="pedidos" class="mat-elevation-z2" (onViewDetails)="showDetails($event)" (onDeleteElement)="deletePedido($event)"></app-tabla-info>    
    </div>


    <!-- Spinner -->
    <app-spinner *ngIf="loading && !pedidos" size="50px"></app-spinner>
    <!-- Mensage de error -->
    <div *ngIf="!loading && !pedidos">
        <h1>{{errorMessage}}</h1>
        <button mat-raised-button (click)="ngOnInit()">Reintentar</button>
    </div>


</div>