<div class="container">

    <div class="title">
        <h4>Pedidos</h4>
        <button type="button" class="btn btn-outline-secondary" (click)="cargarNuevo()">Cargar nuevo</button>
    </div>
    <div class="tableContainer" *ngIf="!loading && pedidos?.length>0">
        <app-tabla-info [columns]="columns" [data]="pedidos" class="mat-elevation-z2" (onViewDetails)="showDetails($event)" (onDeleteElement)="deletePedido($event)"></app-tabla-info>    
    </div>


    <!-- Spinner -->
    <app-spinner *ngIf="loading && pedidos?.length===0"></app-spinner>
    <!-- Mensage de error -->
    <div *ngIf="!loading && pedidos?.length===0">
        <h1>{{errorMessage}}</h1>
        <button type="button" class="btn btn-outline-secondary" (click)="ngOnInit()">Reintentar</button>
    </div>


</div>