<main>
    <form 
    id="formContacto"
    #formConsulta="ngForm"
    (ngSubmit)="enviarConsulta(formConsulta)">
        <input 
        #nombreControl="ngModel"
        type="text" 
        id="nombreInput" 
        [placeholder]="nombreControl.invalid && nombreControl.dirty ? '* Nombre' : 'Nombre'" 
        required
        name="nombre" 
        [ngClass]="{'controlAlert':nombreControl.invalid && nombreControl.dirty}"
        [(ngModel)]="consulta.nombre">
        
        <input 
        #telefonoControl="ngModel"
        type="text" 
        name="telefono" 
        id="telefonoInput" 
        [placeholder]="telefonoControl.invalid && telefonoControl.dirty ? '* Teléfono' : 'Teléfono'" 
        required
        [ngClass]="{'controlAlert':telefonoControl.invalid && telefonoControl.dirty}"
        [(ngModel)]="consulta.telefono">
        
        <textarea 
        #textoConsultaControl="ngModel"
        type="textarea" 
        name="textoConsulta" 
        id="textoInput" 
        [placeholder]="textoConsultaControl.invalid && textoConsultaControl.dirty ? '* Escribe tu consulta...' : 'Escribe tu consulta...'" 
        required
        [ngClass]="{'controlAlert':textoConsultaControl.invalid && textoConsultaControl.dirty}"
        [(ngModel)]="consulta.textoConsulta">
        </textarea>
        
        <button id="enviarButton" [disabled]="formConsulta.invalid">Enviar</button>
    </form>
    
</main>

