<main>
    <form id="formContacto">
        <input type="text" name="nombre" id="nombreInput" placeholder="Nombre" required>

        <input type="text" name="telefono" id="telefonoInput" placeholder="Teléfono" required>

        <textarea type="textarea" name="textoConsulta" id="textoConsultaInput" placeholder="Escribe tu consulta..." required></textarea>
        
        <button id="enviarButton">Enviar</button>
    </form>
    

    <div id="modal">
        <i id="closeModalBtn" class="fa-solid fa-circle-xmark fa-1x closeModalBtn"></i>
        <div id="modalBody">
            
        </div>
    </div>    
</main>

