<header>
    <img src="../../../assets/logoFusion.png" alt="Logo de 'Fusión a Medida'">
    <nav>
        <div class="navCenter">
            
            <a routerLink="/" class="navItem">Inicio</a>    
            <span class="navSeparator"><i class="fa-solid fa-circle"></i></span>
                        
            <a routerLink="/contacto" class="navItem">Contacto</a>    
            <span class="navSeparator"><i class="fa-solid fa-circle"></i></span>
            
            <a routerLink="/login" class="navItem">Privado</a>    
        
        </div>
    </nav>
</header>

